

li{
    list-style: none;
    
}

.header{
    color: blue;
    line-height: 24px;
    display:flex;
  justify-content:space-between;
}

.header-logo{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 40px;
    
}

.header-list {
  float: left;
  margin-bottom: 50px ;
  padding-right: 50px;
  overflow: hidden;
  
  
  
}

.header-list li{
  float:left;
  padding: 33px 20px;
  
  
}


.parent{
position: relative;

}



.a{
background:  blue;
height :200px;
width: 80%;
position: absolute;
left: 0;
top:400px;
z-index: 1;
margin-left: 200;

}

.parent h1{
  font-size: 400%;
margin-left: 200px;
width: 30%;
height: 300px;
position: absolute;
top:330px;
left: 0;

}
  
  
.firstview{
  width: 40%;
  height: 50%;
  position: absolute;
  right:0;
  top: 280px;
 z-index: 2;
}

