

li{
    list-style: none;
    
}

.header{
    color: blue;
    line-height: 24px;
    display:flex;
  justify-content:space-between;
}

.header-logo{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 40px;
    
}

.header-list {
  float: left;
  margin-bottom: 50px ;
  padding-right: 50px;
  overflow: hidden;
  
  
  
}

.header-list li{
  float:left;
  padding: 33px 20px;
  
  
}


.parent{
position: relative;

}



.a{
background:  blue;
height :100px;
width: 50%;

position: absolute;
left:0;
top:400px;
z-index: 1;
left: 200px;

}

.parent h1{
  font-size: 300%;
margin-left: 200px;
width: 30%;
height: 300px;
position: absolute;
top:350px;

}
  
  
.firstview{
  
  width: 40%;
  height: 50%;
  position: absolute;
  right :200px;
  top: 230px;
 z-index: 2;
}

