

li{
    list-style: none;
}

.header{
    color: blue;
    line-height: 24px;
}

.header-logo{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}

.header-list {
  float: right;
  margin-bottom: 50px ;
  padding-right: 50px;
}

.header-list li{
  float:right;
  padding: 33px 20px;
  
}


    
  

h1{
    
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-left: 50px;
    position: relative;
    
}

.a{
  background:  blue;
  height :100px;
  width: 900px;
  margin-left: 50px;
}

.firstview{
  
  width: 500px;
  height: 300px;
  right :50px;
  position: absolute;

  
}

